[submodule "Plugins/ckanext-datacomparison"]
	path = Plugins/ckanext-datacomparison
	url = https://github.com/SDM-TIB/ckanext-datacomparison
[submodule "Plugins/ckanext-fedorkg"]
	path = Plugins/ckanext-fedorkg
	url = https://github.com/SDM-TIB/ckanext-fedorkg
[submodule "Plugins/ckanext-falcon"]
	path = Plugins/ckanext-falcon
	url = https://github.com/SDM-TIB/ckanext-falcon
[submodule "Plugins/ckanext-Code2NB"]
	path = Plugins/ckanext-Code2NB
	url = https://github.com/SDM-TIB/ckanext-Code2NB
[submodule "Plugins/ckanext-jupyternotebook"]
	path = Plugins/ckanext-jupyternotebook
	url = https://github.com/SDM-TIB/ckanext-jupyternotebook
[submodule "Plugins/ckanext-kgcreation"]
	path = Plugins/ckanext-kgcreation
	url = https://github.com/SDM-TIB/ckanext-kgcreation
