include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/gitimport *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/gitimport/migration *.ini *.py *.mako
