{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
    {% asset 'fedorkg/admin' %}

    {% if msg %}
        <div class="ui-state {% if error %}ui-state-error{% else %}ui-state-success{% endif %}">
            {{ msg }}
        </div>
    {% endif %}

    <h2>{% trans %}Default Query{% endtrans %}</h2>
    <div>
        <form method="POST" action="{{ h.url_for('fedorkg_admin.admin') }}">
            {{ form.input('ckanext.fedorkg.query.name', label=_('Default Query Name'), value=query_name, placeholder=_('default query name'), is_required=true) }}
            {{ form.textarea('ckanext.fedorkg.query', 'field-ckanext.fedorkg.query', label=_('Default Query'), value=query, is_required=true) }}
            <input type="hidden" name="action" value="default_query">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" title="{% trans %}Set default query{% endtrans %}">{% trans %}Update{% endtrans %}</button>
            </div>
        </form>
    </div>

    <h2>{% trans %}Knowledge Graphs in the Federation{% endtrans %}</h2>
    <table class="table table-header table-hover table-bordered">
        <thead>
            <tr>
                <th colspan="2">{% trans %}Knowledge Graph{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for kg in kgs %}
                <tr>
                    <td><a href="{{ kg }}" target="_blank">{{ kg }}</a></td>
                    <td class="center">
                        <form method="POST" action="{{ h.url_for('fedorkg_admin.admin') }}">
                            <input type="hidden" name="kg" value="{{ kg }}">
                            <input type="hidden" name="action" value="0">
                            <button class="btn btn-danger btn-sm" title="{% trans %}Remove knowledge graph from the federation{% endtrans %}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <form method="POST" action="{{ h.url_for('fedorkg_admin.admin') }}">
                    <input type="hidden" name="action" value="1">
                    <td>
                        <input class="form-control" type="text" name="kg" placeholder="{% trans %}URL of the SPARQL endpoint{% endtrans %}" size="60" required>
                    </td>
                    <td class="center">
                        <button class="btn btn-success btn-sm" title="{% trans %}Add knowledge graph to the federation{% endtrans %}">
                                <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            FedORKG
        </h2>
        <div class="module-content">
            {% trans %}
                <p>Configuration options to manage the FedORKG instance.</p>
                <p><strong>Default Query Name:</strong> The title of the tab in the SPARQL query editor holding the default query.</p>
                <p><strong>Default Query:</strong> The default query shown in the SPARQL query editor.</p>
                <p><strong>Knowledge Graphs in the Federation:</strong> Mange the knowledge graphs that are included in the federation of FedORKG. Keep in mind that only included knowledge graphs can be queried.</p>
            {% endtrans %}
        </div>
    </div>
{% endblock %}
