{% extends "dataexplorer.jinja2" %}

{% block comparison %}
    {% asset 'datacomparison/comparison' %}
    <details class="mb-3" id="details-comparison" open>
        <summary class="font-bold">Resources for the Comparison</summary>
        <div class="mb-3 py-2">
            <form id="datasets">
                <b>Original Resource</b><br>
                <label class="mr-2 text-xs required" for="res1label">Label:</label><input class="mr-4" style="border: 1px solid #aaa; border-radius: 3px;" type="text" id="res1label" name="res1label" size="12" placeholder="name" required>
                <br><br>
                <b>Resource 2</b><br>
                <label class="mr-2 text-xs required" for="res2label">Label:</label><input class="mr-4 rounded-input" type="text" id="res2label" name="res2label" size="12" placeholder="name" required><label class="mr-2 text-xs required" for="res2">URL:</label><input class="mr-4 rounded-input" type="text" id="res2" name="res2" size="80" placeholder="URL for file" required list="resource_list">
                <datalist id="resource_list"></datalist>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-1 rounded focus:outline-none focus:shadow-outline" type="submit" id="dataset_submit">Add resource</button>
            </form>
        </div>
    </details>
{% endblock %}
